<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="tc-trading">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <h1>TODO: Trading!</h1>
  </template>

  <script>
    class TcTrading extends Polymer.Element {
      static get is() { return 'tc-trading'; }
    }

    window.customElements.define(TcTrading.is, TcTrading);
  </script>
</dom-module>
